*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  
  
  background-size: cover;
  color:   #34495e ;
  background-color:  #eaecee ; 
}



.para{

    font-family: 'Rubik', sans-serif;
  padding: 33.3px;
  line-height: 1.6;

}

.tiles{
    display: flex;
    width: fit-content;
}

.column2 {
  
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-bottom: 50px;
  padding: 0 8px;
  text-align: center;
  line-height: 1.6;
  min-height: 300px;
  
  

}


.card1 {

  box-shadow: 0 4px 18px 0  #2874a6   ;
  font-family: 'Nunito', sans-serif;
  margin: 20px;;
  text-align: center;
  padding: 20px 30px 50px 30px;
  min-height: 300px;
  
  width: fit-content;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);  
  backdrop-filter: blur(5px);
  
  

}




.admin_pics{

    display: flex;
    flex-direction: row;
    width:95%;
    height: fit-content;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card {
    font-family: 'Roboto Mono', monospace;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    background:url("../images/about_us/admin_about_bg.jpg") top center;
    background-size: cover;

  
  
  }

.card:hover{

    transform: scale(1.02);
}

.card img{
    align-items: center;
    width:200px;
    border:1px solid #111; 
    border-radius:50%; 
    height: 200px;
    justify-content: center;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

.about-section {
    
    font-family: 'Roboto Mono', monospace;
  padding: 50px;
  text-align: center;
  line-height: 1.6;
  height: fit-content;
  background:url("../images/about_us/banner.jpeg") top center;
  background-size: cover;
  min-height: 60vh;
  height: fit-content;
  width: 100%;
  color: white;
  opacity: 0.8;
}

.about-section label{
    font-size: 40px;
}

.container {
  padding: 0 16px;
  height: fit-content;
  width: fit-content;
}



.title {
  color: grey;
}




@media screen and (max-width: 650px) {
  
    .tiles{
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
  
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #fbc02d;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav_links{
    display: flex;
    
    justify-content: space-around;
    width: 40%;
}

.nav_links li{
    list-style: none;
    
    
}

.nav_links li a:hover{
    background: #124c5f;
	color: #fff;
}

.nav_links a{
    color: #757575;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    
    
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color:#757575;
}




@media screen and (max-width:1024px) {

    .nav_links{
       
        width: 60%;
    }
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    

    .nav_links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #fbc02d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }

    .nav_links li{
        
        opacity: 0;
    }
    
    .burger{
        display: block;
    }
    
}

.nav-active{
   
    transform: translateX(0%);
}

@keyframes navLinkFade{

    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }


}
.logo img{
    height: 20%;
    width: 20%;
    border-radius: 50%;
    
}
.logo{
    
    display: flex;
    
}
.logo label{
    position: absolute;
    left: 60px;
    top: 10px;
    font-size: 25px;
	font-weight: 500;
	font-family: fantasy;
    color: #757575;
}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .footer_container .sec{

    margin-right: 30px;
}


footer .footer_container .sec.aboutus{

    width: 40%;
}
footer .footer_container  h2{

    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .footer_container  h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #fbc02d;
}

footer .footer_container .sec.aboutus p{
    color: #999;
}

.sci{

    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.sci li a:hover{
    background: #fbc02d;
}

.sci li a .fab{
    color: #fff;
    font-size: 20px;
}
.sci li a .fab:hover{
    color: #757575;
    
}
.quick_links{

    position: relative;
    width: 25%;
}



.quick_links ul li{
    list-style: none;
}
.quick_links ul li a{

    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quick_links ul li a:hover{
    color: #fbc02d;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li a{
    color: #999;
    text-decoration: none ;
}

.contact .info li a:hover{
    color: #fbc02d;
}

@media (max-width:991px){
    footer{
        padding: 40px;
    }
    footer .footer_container{
        flex-direction: column;
    }
    footer .footer_container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .footer_container .sec.aboutus,.quick_links,.contact{
        width: 100%;
    }
}


.dashboard_and_email{

    
    font-family: 'Roboto Mono', monospace;
    width: 30%;
    margin: 4px;
    
    
    
    
}


.dashboard_and_email.a{
    
    
    text-decoration: none;
    margin-top: 8px;
    width: 500px;
    
    
    
}
.dashboard_and_email.a a{
    
    
    text-decoration: none;
    
    background-color: #124c5f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
   
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
    letter-spacing: 1px;
}

.dashboard_and_email.a a:hover{
    background-color: #116a88;
    transition: all ease 0.3s;
}

.dashboard_and_email.b{
    
    
    padding-left: 10px;
    
}



