*{
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}

body{
	background: url("../images/backgrounds/login_bg.jpg") top center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #fbc02d;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav_links{
    display: flex;
    
    justify-content: space-around;
    width: 40%;
}

.nav_links li{
    list-style: none;
    
    
}

.nav_links li a:hover{
    background: #124c5f;
	color: #fff;
}

.nav_links a{
    color: #757575;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    
    
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color:#757575;
}




@media screen and (max-width:1024px) {

    .nav_links{
       
        width: 60%;
    }
	
}
@media screen and (max-width:768px) {
    
	body{
        overflow-x: hidden;
		
    }
    

    .nav_links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #fbc02d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }

    .nav_links li{
        
        opacity: 0;
    }
    
    .burger{
        display: block;
    }
    
}

.nav-active{
   
    transform: translateX(0%);
}

@keyframes navLinkFade{

    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }


}

.logo img{
    height: 20%;
    width: 20%;
    border-radius: 50%;
    
}
.logo{
    
    display: flex;
    
}
.logo label{
    position: absolute;
    left: 60px;
    top: 10px;
    font-size: 25px;
	font-weight: 500;
	font-family: fantasy;
    color: #757575;
}



.container{
	display: inline-block;
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 20px 30px;
	width: 80%;
	font-family: 'Chewy', cursive;
	margin-left: 10%;
	margin-top: 2%;
	background: url("../images/backgrounds/login_card_bg.jpg") top center;
    background-size: cover;
	/*background-color: rgba(66, 66, 66, 0.4);  
 	backdrop-filter: blur(5px);*/
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	
	
}

.switch{
	position: relative;
	
	display:flex;
	border-bottom: 1px solid #424242;

}

.switch::after{
	content: '';
	height: 6px;
	width: 60px;
}

.login{
	padding: 5px 12px;
	background: #0C090A;
	color: #fff;
	height: 35px;
	width: 100px;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	margin-left: 4px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.3s ease;
}


.signup{
	padding: 5px 12px;
	color: #0C090A;
	height: 35px;
	width: 100px;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	margin-left: 4px;
	letter-spacing: 1px;
	cursor: pointer;
	transition: 0.3s ease;
}

.container .outer{
	width: 50%;
	margin-top: 40px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.outer .form{
	width: 200%;
	position: relative;
	display: flex;
	margin: auto;
	transition: 0.2s ease-in-out;
}

#page{
	margin: auto;
	width: 100%;
}

#head_label{
	display: block;
	margin-bottom: 5px;
	padding: 10px 15px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0C090A;
	

}

.element{
	position: relative;
}

.element input{

	width: 80%;
	height: 40px;
	border-radius: 4px;
	margin-bottom: 10px;
	border-top: 0;
	border-left: 0;
	border-bottom: 2px solid #424242;
	background-color: rgba(255, 255, 255, 0.4);  
 	backdrop-filter: blur(5px);
	/*border:1px solid #9e9e9e;*/
	padding-left: 35px;
	font-size: 14px;
	letter-spacing: 1px;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#form_icons{

	position: absolute;
	left: 55px;
	top: 10px;
	color: #e0e0e0;
	background-color: #0C090A;
	padding: 4px;
	border-radius: 4px;

}
@media screen and (max-width:1280px) {
	
	#form_icons{

		left: 45px;
		
	}
   
	
}

@media screen and (max-width:1024px) {
	
	#form_icons{

		left: 45px;
		
	}
   
	
}

@media screen and (max-width:768px) {
   
	#form_icons{

		left: 55px;
		
	}
	.container .outer{
		width: 100%;
		
	}
	
}

@media screen and (max-width:668px) {
   
	#form_icons{

		left: 40px;
		
	
	}
}

.submit-btn{

	padding: 5px 25px;
	background:#0C090A;
	color: #fff;
	border-radius: 4px;
	height: 30px;
	width: 150px;
	font-size: 14px;
	border: none;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.submit-btn:hover{
	background:#4C4C4C ;
}

.submit-btn:active{
	transform: scale(1.01);
}





P.success{


	background:green;
	color: white;
	padding: 15px;
	text-align: center;

}
P.error{


	background:red;
	color: white;
	padding: 15px;
	text-align: center;
	
}