@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');




body{

	margin: 0;
	padding: 0;
	font-family: "Roboto",sans-serif;
	height: 100vh;
    background: linear-gradient(to right, #e1cea6 ,#0f3447); 
	

}




header{
	position: fixed;
    display: flex;
	background:linear-gradient(to right, #0f3447 ,#e1cea6);
	padding: 3vh;
	width: 80%;
	height: 6vh;
    margin-left: 20%;
    transition: 0.5s;
	z-index: 3;
}

#header.active{
    margin-left: 0%;
    width: 100%;
}


.hamberger{
    position: absolute;
    height: 45x;
    width: 45px;
    background: #e1cea6;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    
   
}

.hamberger .fas{

    color: #474545;
    line-height: 45px;
    font-size: 30px;
    
}

.left_area{
	color: #e1cea6;
	margin-left: 50px;
    text-align: center;
    
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 900;

}

.right_area{

    margin-left: 60%;
    
    width: 30%;
    top: 20px;

    
}

.right_area label{
	color: #1f4552;
}

.loggedin_mail{
	text-decoration: none;
	font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    
    
}
.sidebar{


	background:  #1f4552;
	padding-top: 20px;
	position: fixed;
	left: 0%;
	width: 20%;
   	z-index: 3;
	height: 100vh;
	transition: 0.5s;
	transition-property: left;
    
}

#sidebar.active{

    left: -20%;

}



.sidebar .admin_pro_pic{

    width: 80px;
    height: 80px;
}


.sidebar .admin_pro_pic img{
    
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}


.sidebar h4{
	color: whitesmoke;
	margin-top: 0;
	margin-bottom: 20px;
	
}

.sidebar a{
	color: #d2cbaf;
	display: block;
	width: 100%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property:background;

    border-right: 5px solid transparent;
    

}

.sidebar a:hover{
	background: #d2cbaf ;
    border-right-color: #000;
	color: #000;
}


.sidebar i{
	padding-right: 10px;
}

label #sidebar_btn{
	z-index: 3;
	color: #474545;
	position: fixed;
	cursor: pointer;
	left: 100px;
	font-size: 20px;
	margin: 5px 0;
	transition: 0.5s;
	transition-property: color;
}


label #sidebar_btn:hover{
	color:#4a9b9b ;
}






.content{
    position: absolute;
    top: 12vh;
	margin-left: 20%;
	height: 88vh;
	background: url("../../images/backgrounds/admin_profile_bg4.jpg") no-repeat top center;
	
	
	
	background-size: cover;
	transition: 0.5s;
	width: 80%;
}

#content.active{
    margin-left: 0%;
    width: 100%; 
}




.content .home-content{
	position: relative;
	
	top: 10%;
	
	
	
	
	
}

.home-content .overview_boxes{
	display: flex;
	justify-content: space-around;
	padding: 40px 20px;
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 0.4);  
 	backdrop-filter: blur(5px);
	border-radius: 12px;
	margin: 10px;
}


.home-content .overview_boxes .box{
	
	width:calc(100%/4 - 15px);
    margin-bottom: 15px;
	display: flex;
	align-items: left;
	justify-content: left;
	background: #fff;
	padding: 15px 14px;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0 , 0 , 0.2);
	background: url("../../images/backgrounds/dashboard_tile_bg.jpg") no-repeat top center;
	background-size: cover;
	
	
}

.home-content .overview_boxes .box:hover{
	transform: scale(1.02);
}





.home-content .overview_boxes .box_topic{
	font-size: 20px;
	font-weight: 500;
}

.home-content .overview_boxes .number{

	font-size: 35px;
	font-weight: 500;
	margin-top: -5px;
	display: inline-block;
}

.overview_boxes .box .fas{
	
	font-size: 32px;
	height: 50px;
	width: 50px;
	
	line-height: 50px;
	text-align: center;
	border-radius: 12px;
}


.overview_boxes .box .fas.one{
	background:#FBB917 ;
	color: #FAFAD2;
}
.overview_boxes .box .fas.two{
	background: #66b0ff;
	color: #cce5ff;
}
.overview_boxes .box .fas.three{
	background: #9932CC;
	color: #E0B0FF;
}

.overview_boxes .box .fas.four{
	background: #2BD47D;
	color: #C0F2D8;
}
.overview_boxes .box .fas.five{
	background: #2C3539;
	color: #D3D3D3;
}
.overview_boxes .box .fas.six{
	background: #C34A2C;
	color: #FFCCCB;
}

@media(max-width:1018px){
	.home-content .overview_boxes .box{

		width:calc(100% / 2 - 15px);
		margin-bottom: 15px;
        
	}

    .sidebar{
        width: 40%;
        height: 100vh;
    }
    .content{

        margin-left: 40%;
    }
    .header{
        width: 60%;
        margin-left: 40%;
        display: block;
        
        
        
    }

    #sidebar.active{

        left: -40%;
    
    }

    .right_area{

        position: absolute;
		display: none;
        margin-left: 33%;
        width: 50%;
        
        top: 75%;
        
        
    }

	
}

.home-content .search{
	width: 100%;
	display: inline-block;
	
}
.home-content .search input{
	margin-left: 2%;
	width: 95%;
	border: none;
	height: 30px;
	box-shadow: 0 5px 10px rgba(0, 0 , 0 , 0.2);
	border-bottom: 2px solid transparent;
}
.home-content .search input:focus{
	outline: none;
	border-bottom: 4px solid #00acc1;
}

.home-content .search input:hover{
	border-bottom: 4px solid #00acc1;
}

.home-content .search button{
	margin-left: 2%;
	margin-top: 5px;
	
	cursor: pointer;
	color: #fff;
	background-color: #00acc1;
	height: 30px;
	width: 100px;
	border: none;
	box-shadow: 0 5px 10px rgba(0, 0 , 0 , 0.2);
}

.home-content .search button:hover{
	background-color: #00bcd4;
    transition: all ease 0.3s;
}

#sellerTable{


	background-color: #f5f5f5;
	border-collapse: collapse;
	border-radius: 5px;
	margin-top: 5px;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	
	
	
	border: 1px solid #bdc3c7;
	box-shadow: 2px 2px 12px rgba(0, 0 , 0 , 0.2), -1px -1px 8px rgba(0, 0 , 0 , 0.2);
}

#adminTable{
	background-color: #f5f5f5;
	border-collapse: collapse;
	border-radius: 5px;
	margin-top: 5px;
	width: 96%;
	margin-left: 2%;
	border: 1px solid #bdc3c7;
	box-shadow: 2px 2px 12px rgba(0, 0 , 0 , 0.2), -1px -1px 8px rgba(0, 0 , 0 , 0.2);

}

tr{
	transition: all 0.2s ease-in;
	cursor: pointer;
	
}

th,td{
	padding: 12px;
	text-align: left;
	
	border-bottom: 1px solid #ddd;
}

#tableHeader{
	background-color: #16a085;
	color: #fff;

}

tr:hover{
	
	background-color: #00acc1;
	transform: scale(1.02);
	box-shadow: 2px 2px 12px rgba(0, 0 , 0 , 0.2), -1px -1px 8px rgba(0, 0 , 0 , 0.2);
}


@media only screen and (max-width:768px){
	
	#sellerTable{
		
		width: 60%;
	}
	
}


.adminform{
	padding: 10px;
	margin: 5px;
	background-color: rgba(0, 0, 0, 0.4);  
 	backdrop-filter: blur(5px);
	border-radius: 5px;
}

.admincontent{
	
	margin: 10px;
	border-radius: 10px;
	padding-bottom: 10px;

}

.adminform .label_and_input{

	margin: 20px;
	
}

.adminform .label_and_input input{
	border: none;
	width: 90%;
	border-radius: 4px;
	margin-top: 5px;
	height: 30px;
	box-shadow: 0 5px 10px rgba(0, 0 , 0 , 0.2);
}

.adminform .label_and_input input:hover{
	border-bottom: 4px solid #00acc1;
}
.adminform .label_and_input input:focus{
	outline: none;
	
}

.admin_submit_button{
	margin:20px;
	height: 30px;
	
}
.admin_submit_button button{
	cursor: pointer;
	color: #fff;
	background-color: #00acc1;
	height: 30px;
	width: 150px;
	border: none;
	box-shadow: 0 5px 10px rgba(0, 0 , 0 , 0.2);
}


.admin_submit_button button:hover{
	background-color: #00bcd4;
    transition: all ease 0.3s;
}


a.admin_change_password_btn,a.admin_change_propic_btn{

	position: relative;
	display: block;
	margin-top: 10px;
	margin-left: 35px;
	
	text-align: center;
	justify-content: center;
	align-items: center;
	line-height: 30px;
	text-decoration: none;
	font-size: 13px;
	color: #fff;
	
	height: 30px;
	width: 150px;
	background-color: #00acc1;
	box-shadow: 0 5px 10px rgba(0, 0 , 0 , 0.2);
}

a.admin_change_password_btn:hover,a.admin_change_propic_btn:hover{
	background-color: #00bcd4;
    transition: all ease 0.3s;

}

.home-content .sellerview_profile_picture{

	height: 80px;
	width: 80px;
	margin-left: 5%;
}

.home-content .sellerview_profile_picture img{

	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}

#sellerview_sellername{
	margin-left: 5%;
}

.admin_pro_pic_preview{
	position: relative;
	height: 250px;
	width: 250px;
	
	
}

.propic_and_form{

	
	
	
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	

}

.propic_and_form form input{
	display: block;
	margin: 10px;
	align-items: center;
	justify-content: center;
	
	width: 250px;
	height: 30px;

}

.propic_and_form a{
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 250px;
	height: 30px;
	cursor: pointer;
	color: #fff;
	background-color: #00acc1;
	border: none;
	box-shadow: 0 5px 10px rgba(0, 0 , 0 , 0.2);
}

.propic_upload_btn{
	cursor: pointer;
	color: #fff;
	background-color: #00acc1;
	border: none;
	box-shadow: 0 5px 10px rgba(0, 0 , 0 , 0.2);
}

.propic_upload_btn:hover,.propic_and_form a:hover{
	background-color: #00bcd4;
    transition: all ease 0.3s;
}

.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
  }
  .custom-file-input::before {
	content: 'Select a Profile Picture';
	display: inline-block;
	background: #00acc1;
	border: none;
	border-radius: 3px;
	margin-left: 28px;
	width: 180px;
	height: 30px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	
	cursor: pointer;
	
	font-weight: 700;
	font-size: 10pt;
  }
  .custom-file-input:hover::before {
	border-color: black;
  }
  .custom-file-input:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

.errmsg{

	color: tomato;
	margin-left: 2%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.seller_personal_details{

	background-color: rgba(255, 255, 255, 0.4);  
	backdrop-filter: blur(5px);
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 20px;
	padding-left: 20px;
	border-radius: 10px;
	text-align: center;
	font-size: 18px;

}

.seller_personal_details p{

	background-color: #fafafa;
	border-radius: 10px;
	display: inline-block;
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Roboto Mono', monospace;
}

.seller_personal_details p:hover{
	transform: scale(1.02);
}